body {
    background-color: burlywood;
    margin: 2% 16% 2% 16%;
}
h1{
    font-family: "Comic Sans MS";
    border-style: dotted;
    text-align: center;
    margin: 0;
}
#wrap{
    border-style: dotted;
    background-color: #fbeeee;
    padding: 0;
    margin: 0;
}
p{
    text-align: center;
    font: helvetica;
    font-size: 18px;
}
.firstletter{
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
}
p.copyright{
    text-align: center;
}
ul{
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    background-color: #fbeeee
}
